In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("train.csv")
print(data.head())

C:\Users\Hari\AppData\Local\Temp\ipykernel_11256\2491193159.py:1: DtypeWarning: Columns (7,19,20,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("train.csv")

   timestamp          src_ip        dst_ip protocol  length  src_port  \
0   0.000000  10.147.155.240  172.16.0.248      DNS      70       NaN
1   0.000083    137.149.26.0  172.16.0.248      DNS      70       NaN
2   0.000111     140.6.241.0  172.16.0.248      DNS      70       NaN
3   0.000128    91.112.128.0  172.16.0.248      DNS      70       NaN
4   0.000146     221.63.62.0  172.16.0.248      DNS      70       NaN

   dst_port flag  seq_no  ack_no  ...  req_type     req_for  response_no  \
0       NaN  NaN     NaN     NaN  ...       NaN  test_query          NaN
1       NaN  NaN     NaN     NaN  ...       NaN  test_query          NaN
2       NaN  NaN     NaN     NaN  ...       NaN  test_query          NaN
3       NaN  NaN     NaN     NaN  ...       NaN  test_query          NaN
4       NaN  NaN     NaN     NaN  ...       NaN  test_query          NaN

   version  dns_query_response   tx_id  req_reply  ttl  req_resp_no  \
0      NaN      Standard_query  0x4242        NaN  NaN          NaN
1      NaN      Standard_query  0x4242        NaN  NaN          NaN
2      NaN      Standard_query  0x4242        NaN  NaN          NaN
3      NaN      Standard_query  0x4242        NaN  NaN          NaN
4      NaN      Standard_query  0x4242        NaN  NaN          NaN

              label
0  DNS_flood_attack
1  DNS_flood_attack
2  DNS_flood_attack
3  DNS_flood_attack
4  DNS_flood_attack

[5 rows x 29 columns]